.content{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-align: center;
}

.carouselPic{
	width: 980px;
	height: 560px; 
	background-color: green;
}

.element{
	display: inline-block;
	height: 250px; 
	width: 300px; 
	float: right;
}

.square{
	display: inline-block;

    width: 300px;
    height: 300px;
    margin: 10px;
/*    border: 3px solid #c99;*/
    background-position: center center;
    background-size: cover;
}

.uploadZone{
	width: 900px;
	height: 300px;
	margin: auto;
}

		
/* Glyph, by Harry Roberts */
		
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}